.flex-container-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.flex-container-2{
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.player-1-container{
    margin-right: 50px;
}

hr{
    width: 100%;
    color: #2C3333;
}


.player-2-container{
    margin-left: 50px;
}

body{
    background-color: #2C3333;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 25px;
}

img{
    height: 400px;
}

footer{
    font-size: 20px;
}

h1,h2, h3, footer{
    color: #A5C9CA;
}

@media (max-width: 480px) {
    .flex-container-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    h1{
        font-size: 25px;
    }
    
    h2{
        font-size: 17px;
    }
    
    h3{
        font-size: 15px;
    }
    
    img{
        height: 100px;
    } 
    
    footer{
        font-size: 15px;
    }
}